.letterHeader{
    font-family: "Leckerli One";
    font-weight: normal;
    font-size: 22px;
}

.latterWrpper{
    display: flex;
    margin-top: 20px;
}

.letterImg{
    width: 400px;
    margin-right: 20px;
}
