.letter__header{
    font-family: "Leckerli One";
    font-weight: normal;
    font-size: 22px;
}

.latter_wrpper{
    display: flex;
    margin-top: 20px;
}

.letter_img{
    width: 400px;
    margin-right: 20px;
}
