/* .container{
  display: flex;
  justify-content: center;
 
} */

.headerLogo {
  font-family: var(--font-leckerli);
  font-size: 30px;
  line-height: 40px;
  color: var(--grey);
}
.headerLogo:hover,
.headerNavLink:hover {
  color: var(--yellow);
}

.headerNavigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headerNavList {
  min-width: 30%;
  display: flex;
  justify-content: space-between;
}

.activeLink {
  color: goldenrod;
  cursor: default;
}

.headerNavLink {
  font-family: "Roboto" sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--grey);
}

/* .header_nav-link:hover{
  color: palevioletred;
} */

.headerNavItem:last-of-type {
  margin-right: 0;
}
